
        <nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/imges/logo.jpg}" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link active" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
                   <a class="nav-link" th:href="@{/servicios}">Servicios</a>
                   </li>
       
          <li class="nav-item">
          <a class="nav-link" th:href="@{/contactos2}">Contactanos</a>
          </li>
           <li class="nav-item">
   		   <a class="nav-link" th:href="@{/acercaDe}">Acerca de</a>
           </li>  
        </ul>
        <a class="btn bg-light text-dark" th:href="@{/login}">Ingresar</a>&nbsp;
        <a class="btn bg-light text-dark" th:href="@{/registro}">Registrarse</a>
        </div>
        </nav>